/target
.DS_Store
.ccls-cache
build
.ccls
.nvimrc
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
.idea
__pycache__
*.pyc
dist-newstyle
*.EXE
*.OBJ
cmake-build-debug
cmake-build-release
*.toc
*.d
*.bib
!docs/biblio.bib
docs/svg-inkscape
*.main.synctex(busy)
*.synctex(busy)
